:root{
    --card1:#BCEAD5;
    --card2:#9ED5C5;
    --card3:#8EC3B0;
    --background:#DEF5E5;
    --text:#DEF5E5;

    --offset:0;
    --offset2:30;
    --offset3:60;

    --positionX:30%;
    --positionY:10%;
    --positionX2:30%;
    --positionY2:10%;
    --positionX3:30%;
    --positionY3:10%;
    --positionXbg:0;
    --positionYbg:0;
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text);
    overflow: hidden;
    
}

.dots{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/bgdots.png);
    background-size: cover;
    background-position: var(--positionXbg) var(--positionYbg);
}

.cardContainer{
    display: flex;
    width:60vh ;
    height: 60vh; 
    min-height: 500px;
    padding: 0;
    top: var(--positionY);
    left: var(--positionX);
}

.card{
    margin: 0;
    min-height: 550px;
    min-width: 400px;
    position: absolute;   
    border-radius: 24px;
    
}

.card1{
    background-color: var(--card1);
    z-index: 3;
    top: var(--positionY);
    left: var(--positionX);
    display: flex;
    flex-direction: column;
}
.card2{
    background-color: var(--card2);
    z-index: 2;
    top: var(--positionY2);
    left: var(--positionX2);
}
.card3{
    background-color: var(--card3);
    z-index: 1;
    top: var(--positionY3);
    left: var(--positionX3);
}

.logo{
    margin-block:20px ;
    object-fit: contain;
    height: 80px;
}

.form_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}


.pass_container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #DEF5E5;
    height: 40px;
    border-radius: 15px;
}
.username,.password{

    border: none;
    flex: 0.6;
    background-color: var(--background);
    color: black;
        
}
.username{
    margin-left:30px;
}

.username,.password:focus{
    border: none;
    outline: none;
    background-color: var(--background);
}


.pass_container>button{
    border: none;
    outline: none;
    background-color: transparent;
}

.username_container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--text);
    height: 40px;
    border-radius: 15px;
}

.container-input{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 80%;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

}

.container-input>h4{
    margin: 0;
    margin-inline: 10px;
}

.register_link{
    margin-block:10px ;
    color: var(--card3);
}

.login_button{
    margin:10px ;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--text);
    background-color: var(--card3);
    font-size: 20px;
    
    
} 



.login_button:focus{
    border: none;
    outline: none;
}

.login_button:active{
    transition: background-color 200ms ease;
    color: var(--text);
    background-color: #72ad98;
    font-size: 20px;
    
} 
